/* src/App.css */
body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}


.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make sure the app takes at least full viewport height */
}

.content {
  flex-grow: 1; /* Allow content to push footer to the bottom */
}